body {
    background-color: rgb(1, 1, 1);
    color: white; 
    font-family: "Just Another Hand", cursive; ;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
   
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 100px; 
    height: auto;
}


header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-image {
    width: 55%;
    height: auto;
}

.home-text {
    width: 45%;
    text-align: right;
}

.home-text h1 {
    font-family: "Gasoek One", sans-serif;
    color: rgb(193, 167, 255);
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
}

.home-text h1, .home-text h2, .home-text h3 {
    font-size: 2rem;
    margin: 10px 0; 
}

.home-text h2, .home-text h3 {
    font-size: 2.5rem; 
    font-weight: bold;
    color: rgb(71, 14, 205);
    font-family: "Gasoek One", sans-serif;
}


#album {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.album-image img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.album-text {
    width: 45%;
    padding-left: 20px;
    font-family: "Just Another Hand", cursive;
}

.album-text h2 {
    font-family: "Gasoek One", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(193, 167, 255);
}

.album-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.buy-button {
    background-color: mediumorchid;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Gasoek One", sans-serif;
}

.buy-button:hover {
    background-color: darkorchid;
}

#merch {
    text-align: center;
    padding: 50px;
    font-family: "Gasoek One", sans-serif;
    color:rgb(193, 167, 255); 

}

#merch h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-items: center;
}

.merch-item {
    width: 90%;
    max-width: 200px;
    text-align: left;
}

.merch-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.merch-item img:hover {
    transform: scale(1.05);
}

.merch-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
}

.product-name {
    font-weight: bold;
    font-family: "Just Another Hand", cursive;
    color: white;

}

.product-price {
    color: mediumorchid;
    font-family: "Just Another Hand", cursive;
}

.purchase-instructions {
    margin-top: 30px;
    font-size: 30px;
    font-family: "Gasoek One", sans-serif;
}

#about {
    padding: 50px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about-text {
    width: 50%;
    text-align: left;
}

.about-text h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Gasoek One", sans-serif;
    color:rgb(193, 167, 255); 
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-image {
    width: 45%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.video-title {
    text-align: center; 
    font-size: 30px; 
    margin: 20px 0; 
    font-family: "Gasoek One", sans-serif;
    color: rgb(71, 14, 205);
}

.about-videos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

iframe {
    border: none;
    max-width: 48%;
}

.netflix-stream img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.netflix-stream img:hover {
    transform: scale(1.05);
}


#contact {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.contact-container {
    max-width: 600px;
    width: 100%;
}

#contact h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
    font-family: "Gasoek One", sans-serif;
    color:rgb(193, 167, 255); 
}

form {
    display: flex;
    flex-direction: column;
    color:rgb(193, 167, 255); 
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

form textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: mediumorchid;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Gasoek One", sans-serif;
}

button:hover {
    background-color: mediumorchid;
}

footer {
    background-color: rgb(193, 167, 255);
    color: white;
    text-align: center;
    padding: 20px 0;
}
  
footer a {
    color: mediumorchid;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}


